
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/* Common rules */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: black;
	height: 100px;
	margin: 0 0 14px 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: lightblue;
}

a {
	text-decoration: none;
}

p {
	margin: 8px 0 0 0;
}

span {
	font-weight: 500;
}

form {
	margin-top: 50px;
}

/* Header's rules*/
header p {
	margin: 16px 0 5px 0;
}

header a ~ p {
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

#display-name {
	font-weight: 400;
}

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

img {
	margin: 0 auto;
	display: block;
}

.btn-addRemoveElements {
	background: transparent;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	font-size: 30px;
}

/*Rules for github profile*/
.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 10px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

/* Others rules*/

.container ul {
	display: block;
}

.container ul li {
	display: block;
}

.left-side {
	float: left;
	width: 50%;
	padding-left: 20px;
}

.right-side {
	float: right;
	width: 40%;
}

#addNewPoll {
	margin: 10px;
}

.isAuth.false {
	display: none;
}

.isAuth.true {
	display: inline-block;
}